<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="file"
		class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="64MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="file" value="log/sas.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" 
				value="%d{EEE MMM dd HH:mm:ss z yyyy} %-5p %-30c %-50C %-20M %m%n" />
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>
